<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template • TodoMVC</title>
    <link rel="stylesheet" href="/bower_components/todomvc-common/base.css">
    <!-- CSS overrides - remove if you don't need it -->
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="queries" hidden>
      <ul>
        <li><a rel="footer" href="<%= "/#{@route}" if @route && @route != "/" %>/footer">footer</a></li>
        <li><a rel="todos" href="<%= "/#{@route}" if @route && @route != "/" %>/todos">todos</a></li>
        <li><a rel="toggle_all" href="/toggle_all">toggle_all</a></li>
      </ul>
    </div>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form id="form-new_todo" action="<%= @route %>/new_todo" method="post">
          <input id="new-todo" placeholder="What needs to be done?" autofocus name="title">
        </form>
      </header>
      <!-- This section should be hidden by default and shown when there are todos -->
      <section id="main">
        <div id="toggle_all">
          <%= erb :toggle_all %>
        </div>
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          <%= erb :todos %>
        </ul>
      </section>
      <!-- This footer should hidden by default and shown when there are todos -->
      <section id="foot">
        <%= erb :footer %>
      </section>
    </section>
    <footer id="info">
      <p>Click to edit a todo</p>
      <!-- Remove the below line ↓ -->
      <p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
      <!-- Change this out with your name and url ↓ -->
      <p>Created by <a href="http://todomvc.com">you</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    <!-- Scripts here. Don't remove this ↓ -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/bower_components/react/react.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/bower_components/reactize/reactize.js"></script>
  </body>

  <script type="text/javascript">
  
  $(document).ready(function(){

    Reactize.applyDiff(document.getElementById("todo-list"), document.getElementById("todo-list"));
    Reactize.applyDiff(document.getElementById("foot"), document.getElementById("foot"));
    Reactize.applyDiff(document.getElementById("toggle_all"), document.getElementById("toggle_all"));

    //Hide submit on toggle-all if js is activated
    $("#toggle-all-submit").hide();

    $(document).on("click", "#toggle_all", function(element) {
      href = element.target.form.action
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("toggle_all"), data)
        $(window).trigger("toggle_all-update");
      });
      return false
    });

    $(document).on("click", ".toggle", function(element) {
      href = element.target.form.action
      debugger;
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });

    $(document).on("click", ".destroy", function(element) {
      href = element.target.form.action
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });


    $(document).on("click", ".edit_me", function(element) {
      href = element.target.parentElement.href
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
      });
      return false
    });

    $(document).on("submit", "#form-new_todo", function(element) {
      href = element.currentTarget.action
      $.post(href, {"title": element.target[0].value} , function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      $("#new-todo").val("");
      return false
    });

    $(document).on("submit", ".form-edit", function(element) {
      href = element.currentTarget.action
      $.post(href, {"text": element.target[0].value} , function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
        $(window).trigger("todo-list-update");
      });
      return false
    });

    $(window).on("footer-update toggle_all-update", function(){
      href = $('body').find('a[rel=todos]').attr("href")
      debugger;
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("todo-list"), data)
      });
      return false
    });

    $(window).on("todo-list-update toggle_all-update", function(){
      href = $('body').find('a[rel=footer]').attr("href")
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("foot"), data)
      });
      return false
    });

    $(window).on("todo-list-update footer-update", function(){
      href = $('body').find('a[rel=toggle_all]').attr("href")
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("toggle_all"), data)
        
        //Hide submit if it was not in the page on page load
        $("#toggle-all-submit").hide();
      });
      return false
    });

    $(document).on("click", "#clear-completed", function(element) {
      href = element.target.form.action
      $.post(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("foot"), data)
        $(window).trigger("footer-update");
      });
      return false
    });
    
  });

</script>
</html>
