<div>
   <% @todos.each do |todo| %>
    <% if todo[:completed] %>
      <li class="completed">
        <div class="view">
          <form action="/reactivate/<%= todo[:id] %>" method="post">
            <input class="toggle" type="checkbox" checked>
            <input class="toggle" type="submit" value="">
          </form>
          <% if todo[:id] == @edit_id %>
            <form action="/edit/<%= todo[:id] %>" method="post">
              <input type="text" name="text" value="<%= todo[:text] %>">
            </form>
          <% else %>
            <a href="/edit/<%= todo[:id] %>">
              <label><%= todo[:text] %></label>
            </a>
          <% end %>
          
          <form action="/destroy" method="post">
            <button class="destroy" name="id" value="<%= todo[:id] %>"></button>
          </form>
        </div>
        
      </li>
    <% else %>
      <li>
        <div class="view">
          <form action="/complete/<%= todo[:id] %>" method="post">
            <input class="toggle" type="checkbox">
            <input class="toggle" type="submit" value="">
          </form>
          <% if todo[:id] == @edit_id %>
            <form action="/edit/<%= todo[:id] %>" method="post">
              <input type="text" name="text" value="<%= todo[:text] %>">
            </form>
          <% else %>
            <a href="/edit/<%= todo[:id] %>">
              <label><%= todo[:text] %></label>
            </a>
          <% end %>
          
          <form action="/destroy" method="post">
            <button class="destroy" name="id" value="<%= todo[:id] %>"></button>
          </form>
        </div>
        
      </li>
    <% end %>
  <% end %>
</div>