<div>
   <% todos.each do |todo| %>
    <% if todo[:completed] %>
      <li class="completed">
        <div class="view">
          <form action="/reactivate/<%= todo[:id] %>" method="post">
            <input class="toggle" type="checkbox" checked>
            <input class="toggle" type="submit" value="">
          </form>
          <label><%= todo[:text] %></label>
          <form action="/destroy" method="post">
            <button class="destroy" name="id" value="<%= todo[:id] %>"></button>
          </form>
        </div>
        <input type="text" class="edit" value=<%= todo[:text] %>>
      </li>
    <% else %>
      <li>
        <div class="view">
          <form action="/complete/<%= todo[:id] %>" method="post">
            <input class="toggle" type="checkbox">
            <input class="toggle" type="submit" value="">
          </form>
          <label><%= todo[:text] %></label>
          <form action="/destroy" method="post">
            <button class="destroy" name="id" value="<%= todo[:id] %>"></button>
          </form>
        </div>
        <form action="/edit/<%= todo[:id] %>" method="post">
          <input name="text" class="edit" value=<%= todo[:text] %>>
        </form>
      </li>
    <% end %>
  <% end %>
</div>